<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <link rel="stylesheet" href="{{ asset('assets/css/mystyle.css') }}">
        
        <script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}" defer></script>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        <script src="{{ asset('assets/js/myscript.js') }}" defer></script>

    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #91d8e38f">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Alpha-Bêtise</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Accueil</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Conseils de lectures</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Boutique</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">La librairie</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Contact</a>
                            </li>
                        </ul>
                        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                        
                            <input type="search" class="form-control form-control-dark" placeholder="Rechercher..." aria-label="Search">
                        </form>
                        
                        <div class="text-end">
            
                            {# {% if app.user %}
                                <a href="#" class="btn btn-light me-2">Mon compte</a>
                                <a href="{{ path('app_logout') }}" class="btn btn-warning">Déconnection</a>
                            
                            {% else %}
            
                                <a href="{{ path('app_register') }}" class="btn btn-light">Inscription</a> 
                                <a href="{{ path('app_login') }}" class="btn btn-info">Connexion</a>     
                            {% endif %} #}
                            
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        
        {% block body %}{% endblock %}

        <footer>
            <ul class="nav justify-content-center" style="background-color: #91d8e38f">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Conseils de lectures</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Boutique</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">La librairie</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </footer>

    </body>
</html>
